:root {
    --main-bg-color: #fff;
    --header-bg-color: #dadbf1;
    --bar-bg-color: #000000;
    --sign-bg-color: #4C5FD5;
}

* {
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--bar-bg-color);
    overflow: hidden;
}

.right {
    display: flex;
    justify-content: right;
    margin-right: 5%;
    padding: 10px;    
    width: 100%;
}

.logo{
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 1em;
    padding-left: 5%;
}

.help {
    color: var(--main-bg-color);
    text-decoration: none;
    position: absolute;
    padding-left: 10%;
    padding-top: 20px;
    font-size: 1.5em;
}

.bar-right {
    border-radius: 15px;
    height: 50px;
    font-size: 1.3em;
    padding: 10px;
}

.sign {
    background-color: var(--sign-bg-color);
    width: 110px;
    margin-right: 5%;
}

.request {
    background-color: var(--bar-bg-color);
    color: var(--main-bg-color);
    margin-right: .6em;
    border-color: var(--header-bg-color);
    width: 200px;
}

header {
    background-color: var(--header-bg-color);
    width: 100%;
    height: 400px;
}

form {
    height: 250px;
    position: absolute;
    margin-left: 650px;
    margin-top: 100px;
    font-size: 5em;
}

.search {
    margin-left: -60px;
    margin-top: -50px;
    width: 90%;
    height: 20%;
    border-radius: 10px;
    font-size: large;
}

.image-search {
    height: 40px;
    width: 40px;
    margin-left: -50px;
    margin-bottom: -15px;
}

.abstract {
  display: grid;
  grid-auto-rows: 60px;  
  margin-left: 500px;
  margin-top: -130px;
  font-size: large;
  grid-auto-columns: 29%;
}

.photo-using-abstract {
    width: 120px; 
    margin-top: 560px;
    margin-left: 350px;
}

.account {
  display: grid;
  grid-auto-rows: 65px;  
  margin-left: 69em;
  margin-top: -200px;
  font-size: large;
  grid-auto-columns: 55%;
}

.photo-account {
    width: 120px; 
    margin-top: -400px;
    margin-left: 62em;
    padding: 80px;
}

.manage {
    display: grid;
    grid-auto-rows: 50px;
    grid-auto-columns: 71%;  
    margin-top: -100px;
    margin-left: 30em;
    font-size: medium;
}

.photo-manage {
    width: 120px;
    margin-top: 80px;
    margin-left: 21em;
}

.billing {
    display: grid;
    grid-auto-rows: 50px;
    grid-auto-columns: 71%;
    font-size: medium;
    margin-left: 77em;
    margin-top: -168px;
}

.photo-billing {
    width: 120px;
    margin-top: -15em;
    margin-left: 65em;
    padding: 3em;
}

.authenticate{
    display: grid;
    grid-auto-rows: 50px;
    grid-auto-columns: 70%;
    margin-left: 30em;
    margin-top: -120px;
}

.photo-authenticate {
    width: 120px;
    margin-left: 21em;
    margin-top: 5em;
}

.photo-support {
    width: 120px;
    margin-top: -15em;
    margin-left: 65em;
    padding: 3em
}

.support {
    display: grid;
    grid-auto-rows: 50px;
    grid-auto-columns: 70%;
    margin-left: 77em;
    margin-top: -160px;
}